<div class="nav">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <input type="checkbox" id="nav-check">
                <div class="nav-header">
                    <div class="nav-title">
                    BarberX
                    </div>
                </div>
                <div class="nav-btn">
                    <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                    </label>
                </div>
            
                <div class="nav-links">
                    <a routerLink="">Github</a>
                    <a routerLink="">Stackoverflow</a>
                    <a routerLink="">LinkedIn</a>
                    <a routerLink="">Codepen</a>
                    <a routerLink="">JsFiddle</a>
                </div>
            </div>
        </div>
    </div>
</div>