<app-feature-banner [head]="head" [coloredHead]="coloredHead"></app-feature-banner>

<div class="contacts-wrapper text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-card-wrapper">
                    <h2>LOCATION</h2>
                    <p>1406 Jim Rosa Lane, California.</p>
                </div>
                <div class="contact-card-wrapper">
                    <h2>CONTACT US</h2>
                    <p>CALL => 1.415.442.4242</p>
                    <p>EMAIL => Contact@BarberX.com</p>
                </div>
                <div class="contact-card-wrapper">
                    <h2>WORKING HOURS</h2>
                    <p>Monday - Friday: 10am - 9pm</p>
                    <p>Saturday - Sunday: 10am - 5pm</p>
                </div>
            </div>
        </div>
    </div>
</div>