@import '../../variables';


.appointments-form-wrapper{
    background-color: $light-dark;
    form {
        padding: 60px 0;
        input {
            border-radius: 0;
        }
        select {
            border-radius: 0;
        }
    }
    .appointment-btn {
        background-color: transparent;
        border: 5px solid $barber-orange;
        color: $light-white;
        padding-bottom: 30px;
        &:hover {
            background-color: $barber-orange;
        }
    }
}