<div class="navbar navbar-expand-sm  navbar-custom animated fadeInUp fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="">
            <span>BARBER </span><img src="../../../assets/svgs/logo.svg" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span  class="navbar-toggler-icon"></span>
            <img src="../../../assets/svgs/burger-icon.svg" alt="burger-icon">
        </button>
    
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item">
                <a routerLink="/services" class="nav-link">Services</a>
            </li>
            <li class="nav-item">
                <a routerLink="" class="nav-link">About us</a>
            </li>
            <li class="nav-item">
                <a routerLink="" class="nav-link">Contacts</a>
            </li>
            <li class="nav-item">
                <a routerLink="" class="nav-link">Appointment</a>
            </li>
            </ul>
        </div>
    </div>
</div>
    