@import "../../../variables";

.navbar {
    font-family: 'Montserrat', sans-serif;
}
.navbar-custom {
    justify-content: space-between;
    background: $bg-black;
    box-shadow: none;
    .navbar-collapse {
        flex-grow: 0;
    }
}

.navi {
    padding-top: 40px;
    font-size: 20px;
}
#navbarSupportedContent{
    a{
        color: $light-white;
        font-size: 16px;
    }
}
.navbar-brand {
    span {
        font-family: 'Teko', sans-serif;
        letter-spacing: 2.25px;
        color: white;
    }
    img{
        height: 45px;
        transform: rotate(20deg);;
    }
}
.nav-link{
    height: 48px;
}

.navbar-toggler{
    span {
        width: 0px;
    }
    img {
        width: 25px;
    }
}