@import '../../variables';

#services-bg-wrapper{
    height: 70vh;
    background-image: url('../../assets/our-services/services-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-family: 'Teko', sans-serif;
        letter-spacing: 2.25px;
        font-size: 5.5em;
        color: $light-white;

        span {
            color: $barber-orange;
        }
    }
}

.services-wrapper{
    padding: 80px 0;
    background-color: $light-dark;
    color: $light-white;
    h2 {
        font-family: 'Teko', sans-serif;
        letter-spacing: 2.25px;
        font-size: 3.5em;
        span {
            color: $barber-orange;
        }
    }
    p {
        padding: 30px 0;
    }
    img {
        max-width: 100%;
    }
}



/*ipads*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px){
    .services-wrapper {
        h2 {
            font-size: $ipad-h2;
        }
        p {
            text-align: center;
        }
    }
}

/*phones like iphone 11*/
@media (max-width: 540px) {
    #services-bg-wrapper{
        h1 {
            font-size: $iphone11-h1;
        }
    }
    .services-wrapper{
        h2{
            font-size: $iphone11-h2;
        }
        p{
            padding: 30px 0;
            text-align: center;
        }
        a{
            margin-bottom: 50px;
        }
    }
}

/*phones like iphone 6*/
@media (max-width: 375px) {
    #services-bg-wrapper{
        h1 {
            font-size: $iphone6-h1;
        }
    }
    .services-wrapper{
        h2 {
            font-size: $iphone6-h2;
        }
        p {
            font-size: $iphone6-p;
        }
    }
}
  
/*small phones like iphone 5*/
@media (max-width: 350px) {
    #services-bg-wrapper{
        h1 {
            font-size: $iphone5-h1;
        }
    }
    .services-wrapper{
        h2 {
            font-size: $iphone5-h2;
        }
        p {
            font-size: $iphone5-p;
        }
        a{
            padding: 20px 2em;
        }
    }
}
