<div id="services-bg-wrapper" class="text-center">
    <h1>OUR <span>SERVICES</span></h1>
</div>

<div class="services-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 offset-md-1">
                <h2 class="text-center">ABOUT <span>OUR TECHNOLOGY</span></h2>
                <p>Our barbershop is the territory created purely for those who appreciate premium quality, time and flawless look. Welcome to BarberX !</p>
                <div class="text-center">
                    <a routerLink="" class="btn barber-x-btn">ABOUT US</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <img src="../../assets/our-services/about-tech.jpg" alt="about our tech image">
            </div>
        </div>
    </div>
</div>