<app-banner></app-banner>

<div class="split">
    <div>
        <h2>SERVICE <span>BEYOND<br>EXPECTATION</span></h2>
        <p>Our barbershop is the territory created purely for men who appreciate premium quality, time and flawless look. We'll help you to look stylish and confident in the most discreet way.</p>
        <a class="btn barber-x-btn">READ OUR STORY</a>
    </div>
    <div>
        <h3>LOCATION</h3>
        <p>1406  Jim Rosa Lane, Upper West Side,
            San Francisco, California 94103</p>
    
        <h3>1<span>.</span>415<span>.</span>442<span>.</span>4242</h3>
        <p>Monday - Friday: 10am - 9pm<br>Saturday - Sunday: 10am - 5pm</p>
    </div>
</div>

<app-carousel></app-carousel>